table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:nth-child(even) table td {
    background-color: #eee;
}

table tr:nth-child(odd) table td {
    background-color: #fff;
}


table td,th {padding: 5px;}

table {width:70%}

input {margin: 5px}
label {margin: 5px}

#materialsdiv, #yarnshopdiv, #manufacturerdiv {
                background-color: #e6f2ff;
                border-radius: 5px;
                padding-bottom: 15px;
                margin-bottom: 5px
}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}