
{% load crispy_forms_tags %}
{% block content %}


<form method="post" id="materialform" action="{% url 'add_material_modal' %}" >
{{ form|crispy }}
    {% csrf_token %}
<input class="btn btn-primary" type="submit" value="Submit"  id="materialsubmit" >
</form>




{% endblock %}

<script type="text/javascript">


  $('#materialform').submit(function(event) {
    event.preventDefault(); // Prevent the form from submitting via the browser
    var $form = $(this);
    console.log("On submit.");
    $.ajax({

      method: $form.attr('method'),
      url:  "{% url 'add_material_modal' %}",
      data: $form.serialize(),
      success: function(response) {
          console.log(response);
          var option = '<option value="' + response.id +
            '" selected="selected">' + response.name + '</option>';
          $('#id_materials').append(option);
          $('#materialsdiv').collapse('hide');

      },
      error: function(response) {
        console.log(response);
      }
    });
  });


</script>