{% load crispy_forms_tags %}
{% block content %}

 <div class="modal-dialog"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="YarnModalLabel">Add</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            {% crispy form %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
 </div>



{% endblock %}

<script type="text/javascript">
$(function() {

 // open yarnshopform in a collapsible
    $('#yarnshopdiv').on('hidden.bs.collapse', function ()
        $('#yarnshopdiv').load("{% url 'add_yarnshop_collapse' %}", function(){
        $('#yarnshopdiv').collapse.show();
        });
    });

 // save the new color
  $('#colorform').submit(function(event) {
    event.preventDefault(); // Prevent the form from submitting via the browser
    var $form = $(this);
    console.log("On submit.");
    alert('submitting add_color_modal');
    $.ajax({
      method: $form.attr('method'),
      url:  "{% url 'add_color_modal' %}",
      data: $form.serialize(),
      success: function(response) {
          console.log(response);
          var option = '<option value="' + response.id +
            '" selected="selected">' + response.name + '</option>';
          $('#id_color').append(option);
          $('#ProjectideaModal').modal('hide');


      },
      error: function(response) {
        console.log(response);
      }
    });
  });
});

}
</script>