{% extends 'backend/base.html' %}
 {% load crispy_forms_tags %}
{% block content %}




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3>Add a new swatch!</h3>
        </div>
        <div class="col-lg-4"></div>
    </div>

<div class="row">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

    {% crispy form %}

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</div>
</div>

{% endblock %}