{% extends 'Backend/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3>Add a new finished object!</h3>
        </div>
        <div class="col-lg-4"></div>
    </div>

<div class="row">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
           <form method="post" id="FinishedObjectForm" data-colors-url="{% url 'ajax_load_colors' %}" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
   <button class="btn btn-success btn-lg" type="submit" name="Save">Save</button>
</form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script >
    $("#id_yarn").change(function() {
    var url = $("#FinishedObjectForm").attr("data-colors-url");
    var yarnId = $(this).val();

    $.ajax({
    url: url,
    data: {'yarn': yarnId},
    success: function(data){
    $("#id_color").html(data);
    }
            });
                 });
</script>







{% endblock %}