<html>
<head></head>
<body>
{% load crispy_forms_tags %}
{% block content %}
<h4>Add a new yarnshop!</h4>

<form method="post" id="yarnshopform" action="{% url 'add_yarnshop_collapse' %}" >
{{ form|crispy }}
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Submit"  id="yarnshopsubmit" >

</form>


{% endblock %}

</body>

</html>

<script>
// after opening add yarnshop collapse save new yarnshop and add option to select in colorform

$('#yarnshopform').submit(function(event){
    alert('234');
    event.preventDefault(); // Prevent the form from submitting via the browser
    var $form = $(this);
    console.log("On submit yarnshopform");

    $.ajax({
      method: $form.attr('method'),
      url: "{% url 'add_yarnshop_collapse' %}",
      data: $form.serialize(),
       dataType: "json",
      success: function(response) {
          console.log(response);
          var option = '<option value="' + response.id +
            '" selected="selected">' + response.name + '</option>';
          $('#id_yarnshop').append(option);
          $('#yarnshopdiv').collapse('hide');
      },
      error: function(response) {
        console.log(response);
      }
    });


});

</script>