<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoolDB</title>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Backend/style.css' %}">

      <script src="{% static 'misc/html5shiv.js' %}"></script>
      <script src="{% static 'misc/respond.min.js' %}"></script>


</head>
<body>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'misc/jquery.js' %}"></script>
    <script src="{% static 'misc/jquery-3.3.1.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">

<div class="page-header">
    <h1>The Wooly Mammoth Wooldatabase </h1>
    <h2>Yarns in stash, ideas for projects and finished Objects!</h2>
</div>

<nav class="navbar  navbar-light bg-light"  id="sidebar">


    <div class="collapse navbar-collapse  px-2" id="navbarSupportedContent">
        <ul class="nav nav-pills">
            <li class="nav-item active ">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item "><a href="{% url 'yarns' %}"><strong>All yarns</strong></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'projectideas' %}"><strong>Projectideas</strong></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'finishedobjects' %}"><strong>Finished Objects</strong></a></li>
            <li class="nav-item"><a href="{% url 'manufacturers' %}"><strong>Manufacturers</strong></a></li>
            <li class="nav-item"><a href="{% url 'yarnshops' %}"><strong>Yarnshops</strong></a></li>
            <li class="nav-item"><a href="{% url 'swatches' %}"><strong>Swatches</strong></a></li>
            <li class="nav-item"><a href="{% url 'materials' %}"><strong>Materials</strong></a></li>
                {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li class="nav-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
        </ul>
    </div>
</nav>


<div>
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
<ul class="messages" >
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
    </li>
    {% endfor %}
</ul>
        </div>
{% endif %}
</div>

{% block content %}

{% endblock %}
            </div>

    </div>
</div>

</body>
</html>