{% extends 'Backend/base.html' %}
{% block content %}
<h2>{{ finishedobject }}</h2>




<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-2">
            <p><a class="btn btn-primary btn-lg"
                  href="{% url 'edit_finishedobject' finishedobject.id %}"
                  role="button">Edit the finished object</a></p>
        </div>
        <div class="col-lg-2">
           <p><a class="btn btn-success btn-lg"
                  href="{% url 'add_fo' %}"
                  role="button">Add a new finished object</a></p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
                 <form method="post" action="{% url 'delete_finishedobject' finishedobject.id %}">
    {% csrf_token %}
    <button class="btn btn-danger btn-lg" type="submit"  name="Delete">Delete this finished object</button>
     <input type="hidden" name="finishedobject_id" value="{{finishedobject.id}}">
</form>
        </div>
</div>
</div>


<table class="tabs">
    <tr>
        <th>name</th>
        <th>projectidea</th>
        <th>recipient</th>
        <th>stichnr</th>
        <th>notes</th>
        <th>yarn</th>
        <th>colors</th>
        <th>skeins used</th>
        <th>needlesizes</th>
    </tr>
    <tr>
        <td>{{ finishedobject.name }}</td>
        <td>{{ finishedobject.projectidea }}</td>
        <td>{{ finishedobject.recipient }}</td>
        <td>{{ finishedobject.stichnr }}</td>
        <td>{{ finishedobject.notes}}</td>
        <td>{{ finishedobject.yarn }}</td>
        <td>
            <table class="tabs">
                {% for color in finishedobject.color.all %}
                <tr>
                    <td>{{ color.color }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>{{ finishedobject.skeins_used }}</td>
        <td>
            <table class="tabs">
                {% for needle in finishedobject.needlesize.all %}
                <tr>
                    <td>{{ needle.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% endblock %}