{% extends 'backend/base.html' %}

{% block content %}

<h3>Materials</h3>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-1">
            <p><a class="btn btn-success btn-lg"
                  href="{% url 'add_material' %}"
                  role="button">Add a new material</a></p>
        </div>
    </div>
</div>



<table class="tabs">
    <tr>
        <th>Name</th>
        <th>Notes</th>
        <th></th>
    </tr>
    {% for material in materials %}
    <tr>
        <td>{{material}}</td>
        <td>{{ material.notes }}</td>
        <td>
             <form method="post" action="{% url 'delete_material' material.id %}">
    {% csrf_token %}
    <button class="btn btn-danger btn-sm pull-right" type="submit" name="Delete">Delete this material</button>

</form>
        </td>
    {% endfor %}
</table>

    {% endblock %}