{% extends 'backend/base.html' %}

{% block content %}
<h2>{{ projectidea }}</h2>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-2">
            <p><a class="btn btn-primary btn-lg"
                  href="{% url 'edit_projectidea' projectidea.id %}"
                  role="button">Edit projectidea</a></p>
        </div>
        <div class="col-lg-1">
            <p><a class="btn btn-success btn-lg"
                  href="{% url 'projectidea_to_finishedobject' projectidea.id %}"
                  role="button">Done this? Make it an FO!</a></p>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-4">
            <form method="post" action="{% url 'delete_projectidea'  projectidea.id %}" >
    {% csrf_token %}
    <input type="hidden" name="projectidea_id" value="{{ projectidea.id }}" >
    <button class="btn btn-danger btn-lg" type="submit"
            name="Delete">Delete this projectidea</button>
</form>
        </div>
    </div>
</div>





<table class="tabs">
    <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Notes</th>
        <th>Yarn</th>
        <th>Weight</th>
        <th>Colors</th>
        <th>Yardage needed</th>
        <th>Skeins needed</th>

    </tr>
    <tr>
        <td>{{ projectidea.name }}</td>
        <td> {{ projectidea.link }}</td>
        <td> {{ projectidea.notes }}</td>
        <td> {{ projectidea.yarn }}</td>
        <td> {{ projectidea.weight }}</td>

        <td>
            <table>
                {% for c in colors.all %}
                <tr>
                    <td>{{ c.color }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>

        <td> {{ projectidea.yardage_needed }}</td>
        <td> {{ projectidea.skeins_needed }}</td>
    </tr>
</table>
{% endblock %}