{% extends 'strick/base.html' %}
 {% load crispy_forms_tags %}
{% block content %}




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3>Add a new material!</h3>
        </div>
        <div class="col-lg-4"></div>
    </div>

<div class="row">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
           <form method="post" >
    {% csrf_token %}
    {{ form|crispy }}
   <button class="btn btn-success btn-lg" type="submit" name="Save">Save</button>
</form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</div>
</div>

{% endblock %}