<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoolDB</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'strick/style.css' %}">
</head>
<body>
<div class="header">
    <h1>Wooldatabase: yarns in stash, ideas for projects and finished Objects!</h1>
    <a href="{% url 'index' %}"><h3>Home</h3></a>
    <a href="{% url 'yarns' %}"><h4>All yarns</h4></a>
    <a href="{% url 'projectideas' %}"><h4>Projectideas</h4></a>

</div>
<div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>

{% block content %}

{% endblock %}

</body>
</html>