{% extends 'strick/base.html' %}

{% block content %}
<h2>{{ color }}</h2>
<a href="{% url 'add_color' yarn.id %}"><h3>Add a new color!</h3></a>
<a href="{% url 'edit_color'  color.id %}"><h3>Edit this color</h3></a>
<a href="{% url 'yarn_detail' color.yarntype.id %}"><h3>Back</h3></a>
<table>
    <tr>
        <th>Color Nr</th>
        <th>Notes</th>
        <th>Yarnshop</th>
        <th>Nr of skeins in stash</th>
    </tr>
    <tr>
        <td>{{ color.col_nr}}</td>
        <td> {{ color.notes }}</td>
        <td> {{ color.yarnshop }}</td>
        <td> {{ color.quantity }}</td>
    </tr>
</table>

{% endblock %}