{% extends 'strick/base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-1">
            <p><a class="btn btn-success btn-lg"
                  href="{% url 'add_yarn' %}"
                  role="button">Add a new finished object</a></p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="mt-2">All finished objects</h3>


<table class="tabs">
    <tr>
        <th>Name</th>
        <th>recipient</th>
        <th>stichnr</th>
        <th>notes</th>
        <th>yarn</th>
        <th>color</th>
        <th>nr of skeins used</th>
        <th>needlesize</th>
    </tr>
    {% for fo in finishedobjects %}
    <tr>
        <td>{{ fo.name }}</td>
        <td>{{ fo.recipient }}</td>
        <td>{{ fo.stichnr }}</td>
        <td>{{ fo.notes }}</td>
        <td>{{ fo.yarn }}</td>
          <td>
            <table class="tabs">
                {% for color in fo.color.all %}
                <tr>
                <td><a href="{% url 'color_detail'  fo.yarn.id color.id %}">{{ color.color }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </td>

        <td>{{ fo.skeins_used }}</td>
    <td>
        <table class="tabs">
            {% for needlesize in fo.needlesize.all %}
            <tr>
                <td>{{ needlesize }}</td>
            </tr>
            {% endfor %}

        </table>
    </td>
    </tr>
    {% endfor %}
</table>




{% endblock %}
