{% extends 'strick/base.html' %}

{% block content %}

<h3>Manufacturers</h3>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-1">
            <p><a class="btn btn-success btn-lg"
                  href="{% url 'add_manufacturer' %}"
                  role="button">Add a new manufacturer</a></p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="mt-2">All manufacturers</h3>

</div>

<table class="tabs">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    {% for manufacturer in manufacturers %}
    <tr>
        <td>{{manufacturer}}</td>
        <td>
                    <form method="post" action="{% url 'delete_manufacturer' manufacturer.id %}">
    {% csrf_token %}
    <button class="btn btn-danger btn-sm pull-right" type="submit" name="Delete">Delete this manufacturer</button>
</form>
        </td>
    </tr>
    {% endfor %}
</table>

    {% endblock %}