{% extends 'strick/base.html' %}

{% block content %}
<h2>{{ projectidea }}</h2>
{{ projectidea.id }}
<a href="{% url 'edit_projectidea'  projectidea.id %}"><h3>Edit Project</h3></a>

<form method="post" action="delete_projectidea" >
    {% csrf_token %}
    <input type="hidden" name="projectidea_id" value="{{ projectidea.id }}" >
    <button type="submit"  name="Delete">Delete</button>
</form>

<table class="tabs">
    <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Notes</th>
        <th>Yarn</th>
        <th>Weight</th>
        <th>Colors</th>
        <th>Yardage needed</th>
        <th>Skeins needed</th>

    </tr>
    <tr>
        <td>{{ projectidea.name }}</td>
        <td> {{ projectidea.link }}</td>
        <td> {{ projectidea.notes }}</td>
        <td> {{ projectidea.yarn }}</td>
        <td> {{ projectidea.weight }}</td>

        <td>
            <table>
                {% for c in colors.all %}
                <tr>
                    <td>{{ c.color }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>

        <td> {{ projectidea.yardage_needed }}</td>
        <td> {{ projectidea.skeins_needed }}</td>
    </tr>
</table>
{% endblock %}