{% extends 'strick/base.html' %}
{% block content %}
<h2>{{ yarn }}</h2>
<a href="{% url 'add_color' %}"><h3>Add a new color!</h3></a>
<table class="tabs">
    <tr>
        <th>Superwash</th>
        <th>Notes</th>
        <th>Manufacturer</th>
        <th>Washing Instructions</th>
        <th>Weight</th>
        <th>Materials</th>
    </tr>
    <tr>
        <td>{{ yarn.superwash }}</td>
        <td>{{ yarn.notes }}</td>
        <td>{{ yarn.manufacturer }}</td>
        <td>{{ yarn.wash }}</td>
        <td>{{ yarn.weight }}</td>
        <td>
            <table>
            {% for m in yarn.materials.all %}
            <tr>
                    <td> {{ m.name }} </td>
            </tr>
            {% endfor %}
            </table>
        </td>
    </tr>
</table>

<h3>All colors of yarn {{ yarn.name }} in stash</h3>


<table class='tabs'>
    <tr>
        <th>Color</th>
        <th>Color Nr</th>
        <th>Notes</th>
        <th>Yarnshop</th>
        <th>Nr of skeins in stash</th>
    </tr>

    {% for c in colors.all %}
    <tr>
        <td><a href="{% url 'color_detail' yarn.id c.id %}">{{c.color}}</a></td>
        <td>{{c.col_nr}}</td>
        <td>{{c.notes}}</td>
        <td>{{c.yarnshop}}</td>
        <td>{{c.quantity}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
