<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yarntype</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'strick/style.css' %}">
</head>
<body>
{% block content %}
<h2>{{ yarn }}</h2>
Notes about the yarn: {{ yarn.notes }}
<h3>All colors of yarn {{ yarn.name }} in stash</h3>


<table class='tabs'>
    <tr>
        <th>Color</th>
        <th>Color Nr</th>
        <th>Notes</th>
        <th>Yarnshop</th>
        <th>Nr of skeins in stash</th>
    </tr>

    {% for c in colors.all %}
    <tr>
        <td><a href="{% url 'show_color' yarn.id c.id %}">{{c.color}}</a></td>
        <td>{{c.col_nr}}</td>
        <td>{{c.notes}}</td>
        <td>{{c.yarnshop}}</td>
        <td>{{c.nr_in_stash}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>