<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yarns</title>
</head>
<body>
{% block title %}<h3>All yarns in stash</h3>{% endblock %}

{% block content %}


<table style="width:30%">
  <tr>
      <th>Name</th>
      <th>superwash</th>
      <th>Weight</th>
      <th>Materials</th>
  </tr>
    {% for yarn in yarns.all %}
<tr>
    <td>{{ yarn.name }}</td>
    <td>{{ yarn.superwash }}</td>
    <td>{{ yarn.weight }}</td>
    {% for m in yarn.materials.all %}
    <td>{{ m.name }}</td>
    {% endfor %}

</tr>
{% endfor %}
</table>

{% endblock %}

</body>
</html>