{% extends 'strick/base.html' %}

{% block content %}
<a href="{% url 'add_yarn' %}"><h4>Add a new yarn</h4></a>

<h3>All yarns currently in stash</h3>
<table class='tabs' id='tab1' style="width:70%">
  <tr>
      <th>Name</th>
      <th>superwash</th>
      <th>Weight</th>
      <th>Materials</th>
      <th>Available Colors</th>
      <th>Quantity</th>
  </tr>
    {% for yarn in yarns.all %}
<tr>
    <td><a href="{% url 'yarn_detail' yarn.id %}">{{ yarn.name }}</a> </td>
    <td>{{ yarn.superwash }}</td>
    <td>{{ yarn.weight }}</td>
    <td >
        <table>
            {% for m in yarn.materials.all %}
            <tr>
                    <td> {{ m.name }} </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <table>
            {% for c in yarn.color_set.all %}
                <tr>
                    <td>{{ c.color }}</td>
                    <td> {{ c.col_nr }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <table>
            {% for c in yarn.color_set.all %}
                <tr>
                    <td>{{ c.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
</tr>
{% endfor %}
</table>

<h3>Yarns currently not in stash</h3>
<table class='tabs'  style="width:70%">
  <tr>
      <th>Name</th>
      <th>superwash</th>
      <th>Weight</th>
      <th>Materials</th>

  </tr>
    {% for yarn in unstashed_yarns.all %}
<tr>
    <td><a href="{% url 'yarn_detail' yarn.id %}">{{ yarn.name }}</a> </td>
    <td>{{ yarn.superwash }}</td>
    <td>{{ yarn.weight }}</td>
    <td >
        <table>
            {% for m in yarn.materials.all %}
            <tr>
                    <td> {{ m.name }} </td>
            </tr>
            {% endfor %}
        </table>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}