<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yarntype</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'strick/style.css' %}">
</head>
<body>
{% block content %}
<h3>All colors of yarn {{ cols.yarntype }} in stash</h3>
<table class='tabs'>
    <tr>
        <th>Color</th>
        <th>Color Nr</th>
        <th>Notes</th>
        <th>Yarnshop</th>
        <th>Nr of skeins in stash</th>
    </tr>

    {% for col in cols.all %}
    <tr>
        <td>{{col.color}}</td>
        <td>{{col.col_nr}}</td>
        <td>{{col.notes}}</td>
        <td>{{col.yarnshop}}</td>
        <td>{{col.nr_in_stash}}</td>
        <td><form action="." method='POST'>
            {% csrf_token %}
            <input type="number" name="new_nr" >
            <input type="number" name="col_id" value={{col.id}} >
        </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>