.tabs tr:nth-child(even) {
    background-color: #eee;
}

.tabs tr:nth-child(odd) {
    background-color: #fff;
}

.tabs tr:nth-child(even) table td {
    background-color: #eee;
}

.tabs tr:nth-child(odd) table td {
    background-color: #fff;
}


.tabs td {padding: 5px;}

input {margin: 5px}
label {margin: 5px}